.alpha-iris-slider {
    
    .slide-image {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .prev, .next {
        @apply w-10 h-10 absolute cursor-pointer text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 my-auto;
    }

    .slide-cta {
        @apply pt-4 md:pt-6;

        a {
            @apply bg-white text-black md:p-4 p-2 rounded;
        }
    }
}

.alpha-iris-active-slide {
    position: static;
    opacity: 100;
}
.alpha-iris-slide {
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

.alpha-iris-slider-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    z-index: 10;
}

/* Left Align */
.slider-bullets-0 {
    text-align: left;
}

/* Center  Align */
.slider-bullets-1 {
    text-align: center;
}

/* Right Align */
.slider-bullets-2 {
    text-align: right;
}

.alpha-iris-slider-bullet-active {
    color: #2b6cb0;  /*Set to match the Tailwind colour you want the active one to be */
}

.slide-image-position-0 {

}
.slide-image-position-2 {
    @apply absolute right-0;   
}
