.alpha-iris-slider .slide-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.alpha-iris-slider .prev, .alpha-iris-slider .next {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.alpha-iris-slider .prev:hover, .alpha-iris-slider .next:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(29, 78, 216, var(--tw-bg-opacity));
}

.alpha-iris-slider .prev, .alpha-iris-slider .next {
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 700;
  height: 2.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  line-height: 1.25;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.alpha-iris-slider .prev:hover, .alpha-iris-slider .next:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.alpha-iris-slider .prev, .alpha-iris-slider .next {
  width: 2.5rem;
  z-index: 10;
}

.alpha-iris-slider .slide-cta {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .alpha-iris-slider .slide-cta {
    padding-top: 1.5rem;
  }
}

.alpha-iris-slider .slide-cta a {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  padding: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .alpha-iris-slider .slide-cta a {
    padding: 1rem;
  }
}

.alpha-iris-active-slide {
  position: static;
  opacity: 100;
}

.alpha-iris-slide {
  transition: opacity 1s ease-out;
}

.alpha-iris-slider-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  z-index: 10;
}

/* Left Align */

.slider-bullets-0 {
  text-align: left;
}

/* Center  Align */

.slider-bullets-1 {
  text-align: center;
}

/* Right Align */

.slider-bullets-2 {
  text-align: right;
}

.alpha-iris-slider-bullet-active {
  color: #2b6cb0;
  /*Set to match the Tailwind colour you want the active one to be */
}

.slide-image-position-2 {
  position: absolute;
  right: 0px;
}

#laraberg__editor .alpha-iris-slider {
  height: 100%;
}
